html, body {
  margin: 0;
  height: 100%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}
body.home {
  background: url(/img/cover.jpg) no-repeat center center fixed;
  background-size: cover;
  background-color: black;
  color: white;
}
@media only screen and (max-width: 600px) {
  body.home {
    background: url(/img/cover.jpg) no-repeat 30% center fixed;
    background-size: cover;
  }
}
body.home #nav {
  background-color: rgba(0, 0, 0, 0);
}
body.home #nav a.home {
  border-bottom: 4px solid white;
}
body.home #nav a {
  color: white;
}
body.home #nav a:hover {
  border-bottom: 4px solid white;
}
body.home #nav svg {
  fill: white;
}
body.about #nav a.about {
  border-bottom: 4px solid #4E2614;
}
body.teaching #nav a.teaching {
  border-bottom: 4px solid #4E2614;
}
body.events #nav a.events {
  border-bottom: 4px solid #4E2614;
}

p {
  padding-left: 5px;
  padding-right: 5px;
}

#nav {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #C7BCB8;
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: 1.1em;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
}
@media only screen and (max-width: 600px) {
  #nav {
    justify-content: center;
  }
}
#nav > div {
  margin: 20px;
}
@media only screen and (max-width: 600px) {
  #nav > div {
    margin: 12px;
  }
}

svg {
  fill: #4E2614;
}

a {
  text-decoration: none;
  padding-bottom: 5px;
  color: #4E2614;
}
a:hover {
  border-bottom: 4px solid #4E2614;
}
@media only screen and (max-width: 600px) {
  a:hover {
    border: none;
  }
}

h1 {
  font-family: "Yesteryear", cursive;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
  margin: 0;
}

h3 {
  margin: 0;
}

#home {
  margin: 0;
  text-align: center;
  height: 100%;
}
#home h1 {
  font-size: 8em;
}
@media only screen and (max-width: 600px) {
  #home h1 {
    margin-left: 10px;
    font-size: 5em;
  }
  #home h2 {
    margin-left: 10px;
    font-size: 2em;
  }
}
#home h2 {
  font-size: 3em;
  margin-bottom: 100px; /* hack to move it up */
}
#home .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-container {
  max-width: 500px;
}
.image-container img {
  max-width: 100%;
}

#about, #teaching, #events {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1000px;
}
#about .content-container, #teaching .content-container, #events .content-container {
  width: 90%;
  padding-right: 20px;
}
#about .content-container p, #teaching .content-container p, #events .content-container p {
  font-size: 1.2em;
}
#about h1, #teaching h1, #events h1 {
  font-size: 3em;
}

#events input[type=checkbox] {
  display: none;
}
#events .header {
  font-size: 1.8rem;
}
#events .event {
  display: flex;
  flex-direction: row;
}
#events .event-info {
  padding-top: 10px;
}
#events .event-info .content-inner {
  font-style: italic;
}
#events .event-info .lbl-toggle {
  display: block;
  cursor: pointer;
  transition: all 0.25s ease-out;
}
#events .event-info .lbl-toggle::after {
  content: " ";
  display: inline-block;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid currentColor;
  vertical-align: middle;
  margin-left: 10px;
  transform: translateY(-2px);
  transition: transform 0.2s ease-out;
}
#events .event-info .collapsible-content .content-inner {
  padding: 0.5rem 1rem;
}
#events .event-info .collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
}
#events .event-info .toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}
#events .event-info .toggle:checked + .lbl-toggle::after {
  transform: rotate(90deg) translateX(-3px);
}
#events .event-info .toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#events .datebox {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}
#events .datebox .date {
  font-size: 3rem;
  margin-right: 5px;
}
#events .datebox .right {
  padding-top: 10px;
  font-style: italic;
  justify-content: bottom;
}

#teaching .email {
  text-align: center;
  margin-bottom: 50px;
}
#teaching .nospam {
  display: none;
}

/*# sourceMappingURL=style.css.map */
