$dark-gray: rgba(0, 0, 0, 0.8);
$link-color: #4E2614;

html, body {
  margin: 0;

  height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;

  &.home {
    background: url(/img/concert_dark.jpg) no-repeat center center fixed;
    background-size: cover;
    @media only screen and (max-width: 600px) {
      background: url(/img/concert_dark_600.jpg) no-repeat center center fixed;
      background-size: cover;
    }

    background-color: black;
    color: white;

    #nav {
      background-color: rgba(0, 0, 0, 0);

      a.home {
        border-bottom: 4px solid white;
      }

      a {
        color: white;

        &:hover {
          border-bottom: 4px solid white;
        }
      }

      svg {
        fill: white;
      }
    }

  }

  &.about {
    #nav a.about {
      border-bottom: 4px solid $link-color;
    }
  }

  &.teaching {
    #nav a.teaching {
      border-bottom: 4px solid $link-color;
    }
  }

  &.events {
    #nav a.events {
      border-bottom: 4px solid $link-color;
    }
  }
}

p {
  padding-left: 5px;
  padding-right: 5px;
}

#nav {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #C7BCB8;

  display: flex;

  align-items: center;
  justify-content: right;

  @media only screen and (max-width: 600px) {
    justify-content: center;
  }

  > div { margin: 20px; }
  @media only screen and (max-width: 600px) {
    > div {
      margin: 12px;
    }
  }

  font-size: 1.1em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}

svg {
  fill: $link-color;
}

a {
  text-decoration: none;
  padding-bottom: 5px;
  color: $link-color;

  &:hover {
    border-bottom: 4px solid $link-color;
  }

  @media only screen and (max-width: 600px) {
    &:hover {
      border: none;
    }
  }
}

h1 {
  font-family: 'Yesteryear', cursive;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  margin: 0;
}

h3 {
  margin: 0
}

#home {
  margin: 0;
  text-align: center;

  height: 100%;

  h1 {
    font-size: 8em;
  }
  @media only screen and (max-width: 600px) {
    h1 {
      margin-left: 10px;
      font-size: 5em;
    }
    h2 {
      margin-left: 10px;
      font-size: 2em;
    }
  }

  h2 {
    font-size: 3em;
    margin-bottom: 100px; /* hack to move it up */
  }

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.image-container {
  max-width: 500px;

  img {
    max-width: 100%;
  }
}

#about, #teaching, #events {
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1000px;

  .content-container {
    width: 90%;
    padding-right: 20px;
    p {
      font-size: 1.2em;
    }
  }

  h1 {
    font-size: 3em;
  }
}

#events {
  input[type='checkbox'] {
    display: none;
  }

  .header {
    font-size: 1.8rem;
  }

  .event {
    display: flex;
    flex-direction: row;
  }

  .event-info {
    padding-top: 10px;

    .content-inner {
      font-style: italic;
    }

    .lbl-toggle {
      display: block;
      cursor: pointer;
      transition: all 0.25s ease-out;
    }

    .lbl-toggle::after {
      content: ' ';
      display: inline-block;

      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-left: 8px solid currentColor;

      vertical-align: middle;
      margin-left: 10px;

      transform: translateY(-2px);

      transition: transform .2s ease-out;
    }
    .collapsible-content .content-inner {
      padding: .5rem 1rem;
    }
    .collapsible-content {
      max-height: 0px;
      overflow: hidden;

      transition: max-height .25s ease-in-out;
    }
    .toggle:checked + .lbl-toggle + .collapsible-content {
      max-height: 100vh;
    }

    .toggle:checked + .lbl-toggle::after {
      transform: rotate(90deg) translateX(-3px);
    }

    .toggle:checked + .lbl-toggle {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .datebox {
    display: flex;
    flex-direction: row;
    margin-right: 20px;

    .date {
      font-size: 3rem;
      margin-right: 5px;

    }

    .right {
      // color: #4C4C4C;
      padding-top: 10px;
      font-style: italic;
      justify-content: bottom;
    }
  }
}

#teaching {
  .email {
    text-align: center;
    margin-bottom: 50px;
  }

  .nospam {
    display: none;
  }
}
