---
title: events
---

<div class="content-container">
  <h1>Upcoming Events</h1>

  {% assign today = 'now' | date: '%s' %}
  {% for e in events %}
  {% assign d = e.date | date: '%s' %}
  <div class="event{% if d < today %} past{% endif %}">
    <div class="datebox">
      <div class="date">{{ e.date | date: "%d" }}</div>
      <div class="right">
        <div>{{ e.date | date: "%a" }}</div>
        <div>{{ e.date | date: "%b" }}</div>
      </div>
    </div>
    <div class="event-info">
      <input id="collapsible_{{ forloop.index }}" class="toggle" type="checkbox">
      <label for="collapsible_{{ forloop.index }}" class="lbl-toggle header">{{ e.title }}</label>
      <div class="collapsible-content">
        <div class="content-inner">
          <div class="date-and-time">{{ e.date | date: "%b %e"}}, {{ e.time }}</div>
          <div class="location">{{ e.location }}</div>
        </div>
      </div>
    </div>
  </div>
  <hr/>
  {% endfor %}
</div>
